.row {
    margin: 4px;
    margin-top: 10px;    
}

.router {
    margin: 0.75rem;
    margin-top: 0.5rem;
    height: inherit;
    height: calc(100% - 48px);
}

.app {
    height: calc(100% - 14px);
}